<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- Vue インスタンスの作成 -->
  <div id="app-1" :class="{vueApp: isApp}">
    <p v-if="error" class="errMessage">エラー発生中！！</p>
    <p v-if="!error">エラーはありません</p>
    <button @click="changeErrStatus">{{ errorMaker }}</button>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>